.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
    background: orange;
    color: blue;
    font-weight: 500;
    text-align: center;
}

.burgerimg {
  width: 300px
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
