<li>
	{{name}}

	{{#if devour}}
	<button class="btn btn-success" data-id="{{id}}" data-newdevour="{{devour}}">
		Devour!
	</button> 
	{{/if}}

	<button class="btn btn-danger" data-id="{{this.id}}">Delete!</button>
</li>
